<div class="listTitle popup">
    <div class="line"></div>
    <h2>Share</h2>
</div>

<form action="" class="form full_width">
	
	<div class="input">
		<label for="email_1">Email #1</label>
		<input type="mail" name="email_1" id="email_1">
	</div>
	<div class="input">
		<label for="email_1">Email #2</label>
		<input type="mail" name="email_1" id="email_1">
	</div>
	<div class="input">
		<label for="email_1">Email #3</label>
		<input type="mail" name="email_1" id="email_1">
	</div>

    <div class="submit">
        <button type="submit" id="login_submit" class="submit">Share</button>
    </div>

</form>