<div class="listTitle popup">
    <div class="line"></div>
    <h2>Share</h2>
</div>


<form ng-submit="shareIt()" class="form full_width">
	
	<p>Your email :</p>

	<div class="input">
		<input type="email" ng-model="sender_address" ng-pattern="regexEmail">
	</div>

	<p>Emails of your friends :</p>
	
	<div class="input" ng-repeat="destEmail in dest_addresses track by $index">
		<input type="email" ng-model="dest_addresses[$index]" ng-pattern="regexEmail" ng-change="onChange($index)">
	</div>

    <div class="submit">
        <button type="submit" id="login_submit" class="submit">Share</button>
    </div>

</form>