<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - HEADER- - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div ng-include="'/app/views/partials/header.html'"></div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - RESULTS - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div id="results" class="container">

	
    <div class="listTitle lighten">
        <div class="line"></div>
        <h2>Error</h2>
    </div>
	
    <p class="statusCode">{{ statusCode }}</p>
    <p class="statusText">{{ statusInfos.txt }}</p>
	<img ng-src="{{ statusInfos.img }}" class="statusImg"/>

</div>
