<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - HEADER- - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div ng-include="'/app/views/partials/header.html'"></div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - RESULTS - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div id="results" class="container">

	
    <div class="listTitle lighten">
        <div class="line"></div>
        <h2>Login</h2>
    </div>

    <form name="loginForm" class="form" ng-submit="onSubmit(loginForm.$valid)" novalidate>
        
        <div class="input">
            <label for="login_input_username">Username</label>
            <input type="text" ng-model="username" id="login_input_username" required>
        </div>
        
        <div class="input">
            <label for="login_input_password">Password</label>
            <input type="password" ng-model="password" id="login_input_password" required>
        </div>
        
        <div class="submit">
            <button type="submit" id="login_submit" class="submit" ng-disabled="loginForm.$invalid">Login</button>
        </div>
    
    </form>

</div>
