<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - HEADER- - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div ng-include="'/app/views/partials/header.html'"></div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - RESULTS - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div id="results" class="container tiny_1_column small_2_columns medium_2_columns large_3_columns">

	
    <div class="listTitle lighten">
        <div class="line"></div>
        <h2>#{{ tagName }}</h2>
    </div>

    <p ng-hide="videos.length" class="no-video">No result</p>
	
    <div infinite-scroll="loadMore()" class="infiniteScroll" ng-show="videos.length">
        <div ng-repeat="video in videos">
            <video-preview video="video"></video-preview>
        </div>
    </div>

    <div ng-show="busy" id="videos_loader" class="loader"></div>

</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - SEARCH- - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<search-form focus fixed></search-form>
