<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - HEADER- - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div ng-include="'/app/views/partials/header.html'"></div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - RESULTS - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div id="results" class="container">

	
    <div class="listTitle lighten">
        <div class="line"></div>
        <h2>Upload</h2>
    </div>

    <div id="steps">
        <div class="step">
            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Step 1 out of 3 <br> Upload your video</h3>
            </div>
        </div>
        <div class="step">
            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Step 2 out of 3 <br> Edit video informations</h3>
            </div>
        </div>
        <div class="step">
            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Step 3 out of 3 <br> Choose a thumbnail</h3>
            </div>
        </div>
    </div>


</div>
