<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - HEADER- - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div ng-include="'/app/views/partials/header.html'"></div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - VIDEO - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="container">

	
    <div class="listTitle lighten">
        <div class="line"></div>
        <h2>{{ video.video.title }}</h2>
    </div>

    <video-js></video-js>

    <div class="video_informations">

        
        <div class="description">
            
            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Description</h3>
            </div>

            <p>{{ video.video.description }}</p>
        </div>

        <div class="scores">

            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Statistics</h3>
            </div>

            <div class="score">
                <span>15620</span> views
            </div>

            <div class="score">
                <span>2530</span> shares
            </div>

        </div>

        <div class="author">
            
            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Author</h3>
            </div>

            <img src="http://www.gravatar.com/avatar/b3b38828063b1a3eb07f79f4e3ed66b1" alt="" class="avatar">
            <p class="pseudo">Alexandre Collet</p>
        
        </div>

    </div>



</div>
