<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - HEADER- - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div ng-include="'/app/views/partials/header.html'"></div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - VIDEO - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

<div class="container">

    
    <div class="listTitle lighten">
        <div class="line"></div>
        <h2>{{ video.title }}</h2>
    </div>

    <video-js share-action="openShareModal" video="video"></video-js>

    <p class="video_author">By {{ video.author.username }}</p>

    <div class="video_informations">

        
        <div class="description">
            
            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Description</h3>
            </div>

            <p>{{ video.description }}</p>
        </div>
            <a href="" class="button w20">Share</a>

        <div class="views">

            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Views</h3>
            </div>

            <div class="score">
                total
                <span>{{ video.views_statistics.total }}</span>
            </div>

            <div class="score rotate">
                <div>daily<span>{{ video.views_statistics.daily }}</span></div>
                <div>weekly <span>{{ video.views_statistics.weekly }}</span></div>
                <div>monthly <span>{{ video.views_statistics.monthly }}</span></div>
                <div>yearly <span>{{ video.views_statistics.yearly }}</span></div>
            </div>

        </div>

        <div class="shares">

            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Shares</h3>
            </div>

            <div class="score">
                total
                <span>{{ video.shares_statistics.total }}</span>
            </div>

            <div class="score rotate">
                <div>daily<span>{{ video.shares_statistics.daily }}</span></div>
                <div>weekly <span>{{ video.shares_statistics.weekly }}</span></div>
                <div>monthly <span>{{ video.shares_statistics.monthly }}</span></div>
                <div>yearly <span>{{ video.shares_statistics.yearly }}</span></div>
            </div>

        </div>

        <div class="tags">
            
            <div class="listTitle lighten">
                <div class="line"></div>
                <h3>Tags</h3>
            </div>
            
            <p ng-hide="video.tags.length" class="no-video">No tags</p>

            <a class="tag" ng-repeat="tag in video.tags" href="/#/tag/{{ tag }}">
                {{ tag }}
            </a>
        
        </div>

    </div>



</div>
